{% load static %}
<!-- ========== FOOTER ========== -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                &copy; {% now "Y" %} Boutique Admin Panel. All rights reserved.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Crafted with <i class="mdi mdi-heart text-danger"></i> using
                    <a href="#" class="text-reset fw-semibold">Laajavab Boutique</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ========== END FOOTER ========== -->
